In [1]:
import pandas as pd
train=pd.read_csv("data/train.csv")
test=pd.read_csv("data/test.csv")

In [2]:
train.columns

Index(['id', 'year', 'month', 'day', 'Country', 'City', 'lat', 'lon', 'co_cnt',
       'co_min', 'co_mid', 'co_max', 'co_var', 'o3_cnt', 'o3_min', 'o3_mid',
       'o3_max', 'o3_var', 'so2_cnt', 'so2_min', 'so2_mid', 'so2_max',
       'so2_var', 'no2_cnt', 'no2_min', 'no2_mid', 'no2_max', 'no2_var',
       'temperature_cnt', 'temperature_min', 'temperature_mid',
       'temperature_max', 'temperature_var', 'humidity_cnt', 'humidity_min',
       'humidity_mid', 'humidity_max', 'humidity_var', 'pressure_cnt',
       'pressure_min', 'pressure_mid', 'pressure_max', 'pressure_var',
       'ws_cnt', 'ws_min', 'ws_mid', 'ws_max', 'ws_var', 'dew_cnt', 'dew_min',
       'dew_mid', 'dew_max', 'dew_var', 'pm25_mid'],
      dtype='object')

In [3]:
train

,id,year,month,day,Country,City,lat,lon,co_cnt,co_min,...,ws_min,ws_mid,ws_max,ws_var,dew_cnt,dew_min,dew_mid,dew_max,dew_var,pm25_mid
0,1,2019,1,1,Australia,Brisbane,-27.46794,153.02809,38,0.749,...,0.241,1.088,3.101,1.983,17,7.671,10.358,15.112,13.424,19.901
1,2,2019,1,1,Australia,Darwin,-12.46113,130.84185,47,2.594,...,0.828,3.473,7.396,10.411,62,21.324,23.813,24.221,2.021,13.741
2,3,2019,1,1,Australia,Melbourne,-37.81400,144.96332,17,1.190,...,0.000,2.107,8.089,15.719,22,10.309,13.133,15.422,6.355,25.918
3,4,2019,1,1,Australia,Newcastle,-32.92953,151.78010,63,4.586,...,0.284,0.503,3.592,2.485,116,7.146,10.685,13.344,9.417,174.370
4,5,2019,1,1,Australia,Perth,-31.95224,115.86140,47,4.689,...,0.500,0.755,3.396,1.937,93,1.091,3.277,12.272,4.109,167.063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195936,195937,2021,12,31,United States,Jacksonville,30.33218,-81.65565,12,0.694,...,2.195,2.710,6.125,3.757,12,16.774,22.679,26.058,13.252,16.150
195937,195938,2021,12,31,United States,Las Vegas,36.17497,-115.13722,14,0.528,...,1.002,2.974,6.861,8.354,12,10.432,14.741,15.827,7.078,16.895
195938,195939,2021,12,31,United States,Milwaukee,43.03890,-87.90647,171,1.975,...,0.994,1.087,2.578,0.612,26,2.049,3.531,6.686,5.286,86.299
195939,195940,2021,12,31,Vietnam,Hanoi,21.02450,105.84117,31,2.613,...,1.005,3.058,6.005,6.085,51,1.922,7.443,7.716,4.642,36.523
195940,195941,2021,12,31,Vietnam,Hạ Long,20.95045,107.07336,26,0.069,...,0.190,2.775,3.412,2.528,16,8.448,10.372,18.886,11.536,62.021

In [8]:
col = "Country"
train_values=set(train[col])
test_values = set(test[col])


len(train_values),len(test_values),len(train_values & test_values)

(30, 30, 30)

In [4]:
test

,id,year,month,day,Country,City,lat,lon,co_cnt,co_min,...,ws_cnt,ws_min,ws_mid,ws_max,ws_var,dew_cnt,dew_min,dew_mid,dew_max,dew_var
0,195942,2019,1,1,Australia,Adelaide,-34.92866,138.59863,155,0.091,...,111,0.098,2.411,10.213,24.608,26,3.057,8.180,15.841,39.705
1,195943,2019,1,1,Australia,Sydney,-33.86785,151.20732,23,1.037,...,158,0.101,2.982,8.261,15.957,47,11.090,15.361,19.227,15.857
2,195944,2019,1,1,Belgium,Brussels,50.85045,4.34878,28,0.096,...,64,0.218,1.200,5.802,7.584,44,1.055,4.411,6.955,8.415
3,195945,2019,1,1,Bosnia and Herzegovina,Sarajevo,43.84864,18.35644,122,0.479,...,149,0.504,1.172,3.861,2.696,16,0.482,0.484,0.932,0.049
4,195946,2019,1,1,Brazil,São José dos Campos,-23.17944,-45.88694,158,6.198,...,164,0.409,1.412,3.132,1.754,165,6.253,11.440,12.473,3.546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53504,249446,2021,12,31,Turkey,Adana,36.98615,35.32531,97,4.674,...,93,0.201,2.878,7.397,12.130,86,0.451,3.112,4.512,3.938
53505,249447,2021,12,31,Turkey,Bursa,40.19559,29.06013,123,17.621,...,114,0.473,1.491,2.974,1.468,115,3.894,6.823,6.861,2.145
53506,249448,2021,12,31,Turkey,Trabzon,41.00500,39.72694,150,0.128,...,179,1.001,3.605,5.040,3.965,12,5.269,8.772,12.661,13.201
53507,249449,2021,12,31,United Kingdom,London,51.50853,-0.12574,21,0.057,...,41,0.077,0.803,3.884,3.268,34,10.906,10.959,12.744,0.822
53508,249450,2021,12,31,Vietnam,Haiphong,20.86481,106.68345,47,0.060,...,178,0.105,2.931,15.303,22.760,58,9.825,15.037,22.294,11.189